h1 {
    color: #27aedb;
    text-align: center;
}

.circle {
background-color: blue;
width: 20px;
heigth: 20px;
border-radius: 50%;
}

.bomb {
margin-left: 50%;
}

.first-button {
background-color: blue;
}

.second-button {
background-color: red;
}

.third-button {
background-color: green;
}